@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Wu Su Street No.666<br />
    ZAFU<br/>
    A4, 613<br />
    <abbr title="Phone">Wang Ben:</abbr>
    17757503920
    <br/>
    <abbr title="Phone">Chu Yifan:</abbr>
    15968817760
</address>

<address>
    <strong>Support:</strong> <a href="mailto:wangben18@outlook.com">wangben18@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yifanchu@foxmail.com">yifanchu@foxmail.com</a>
</address>
