
@{
    ViewData["Title"] = "JobRemindFinish";
}

<h2>JobRemindFinish</h2>

<form asp-action="JobRemind">
    <button id="jump" type="submit" hidden></button>
</form>

<script>
    document.getElementById('jump').click();
</script>