
@{
    ViewData["Title"] = "OfficialPaperNotApprove";
}

<h2>OfficialPaperNotApprove</h2>

<p>跳转中。。。</p>

<form asp-action="OfficialPaperManage">
    <button id="jump" type="submit" hidden></button>
</form>

<script>
    document.getElementById('jump').click();
</script>